/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

p{
    line-height: 2rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: lighter;
}

/*--------------------------------HEADER--------------------------------*/

header{
    background-color:#0084FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
}

.container-header{
    padding: 1rem 0;
}

.flex-jsb-aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars-size{
    font-size: 1.75rem;
}

/*--------------------------------MAIN--------------------------------*/

/*--------------------------------FIRST SECTION (DEMO APPLICATION)--------------------------------*/

.demo-application{
    background-color: red;
    display: flex;
    justify-content: center;
}

.container-demo-application{
    height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-demo-padding{
    padding: 3.5rem 0 4.5rem 0;
}

.card{
    height: calc(100% / 5);
    width: 100%;
}

.card-x2{
    height: calc((100% / 5) * 2);
    width: 100%;
}

.card-margin-bottom{
    margin-bottom: 2rem;
}

.background-card-blue{
    background-color: #B5DDFF;
}

.border-radius-blue-card{
    border-radius: 2rem;
}

/*--------------------------------SECOND SECTION (PLANNING)--------------------------------*/

.planning{
    background-color: #9792E4;
    color: white;
    display: flex;
    justify-content: center;
}

.container-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0 3.5rem 0;
}

.img-planning{
    width: 100%;
}

.wrap-strategic-planning{
    padding: 5.5rem 0;
}

.font-strategic-planning{
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

.font-strategic-margin-bottom{
    margin-bottom: 3.5rem;
}

/*--------------------------------WHITE CARD SECOND SECTION (PLANNING)--------------------------------*/

.card-white{
    width: 100%;
    height: 750px;
    background-color: white;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.card-white-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.border-card-white{
    border-radius: 4rem;
}

.font-color-black{
    color: black;
}

.font-family{
    font-family: sans-serif;
    font-size: 1.2rem;
}

.align-center{
    text-align: center;
}

.arrow{
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;   
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    background-color: #9792E4;
    text-align: center;
}

/*--------------------------------THIRD SECTION--------------------------------*/

.testimonials{
    display: flex;
    justify-content: center;
}

.container-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 3rem 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.font-testimonials-margin-bottom{
    margin-bottom: 2rem;
}

.font-color-lavender{
   color: #9792E4;
}

/*--------------------------------THIRD SECTION (CARDS)--------------------------------*/

.container-testimonials-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

