/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font-family: 'PT Sans', sans-serif;
}

p{
    line-height: 2.5rem;
    font-weight: lighter;
}

/*-------------------------------FONT------------------------------*/

.font-size-small{
    font-size: 1.3rem;
}

.font-size-vsmall{
    font-size: 1.2rem
}

.font-size-normal{
    font-size: 1.4rem
}

.font-size-numbers{
    font-size: 4rem;
    font-weight: bolder;
}

.font-size-title-cards{
    font-size: 2rem;
}

/*--------------------------------HEADER--------------------------------*/

header{
    background-color:#0084FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
}

.container-header{
    padding: 1rem 0;
}

.flex-jsb-aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars-size{
    font-size: 1.75rem;
}

/*--------------------------------MAIN--------------------------------*/

/*--------------------------------FIRST SECTION (DEMO APPLICATION)--------------------------------*/

.demo-application{
    display: flex;
    justify-content: center;
}

.container-demo-application{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-demo-padding{
    padding: 3.5rem 0 4.5rem 0;
}

.card{
    padding: 15rem 0;
    width: 100%;
}

.card-x2{
    padding: 30rem 0;
    width: 100%;
}

.padding-strategic-planning{
    padding-bottom: 3rem;
}

.background-card-blue{
    background-color: #B5DDFF;
}

.border-radius-blue-card{
    border-radius: 2rem;
}

/*--------------------------------SECOND SECTION (PLANNING)--------------------------------*/

.planning{
    background-color: #9792E4;
    color: white;
    display: flex;
    justify-content: center;
}

.container-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0 3.5rem 0;
}

.card-wrap-elements{
    padding-bottom: 2rem;
}

.img-planning{
    width: 100%;
}

.wrap-strategic-planning{
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;
}

.font-strategic-planning{
    font-size: 2.5rem;
    font-weight: bolder;
}

/*--------------------------------WHITE CARD SECOND SECTION (PLANNING)--------------------------------*/

.card-white{
    width: 100%;
    background-color: white;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.card-white-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.border-card-white{
    border-radius: 4rem;
}

.font-color-black{
    color: black;
}

.font-family{
    font-size: 1.2rem;
}

.align-center{
    text-align: center;
}

.arrow{
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;   
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    background-color: #9792E4;
    text-align: center;
}

/*--------------------------------THIRD SECTION--------------------------------*/

.testimonials{
    display: flex;
    justify-content: center;
}

.container-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 3rem 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.font-testimonials-padding-bottom{
    padding-bottom: 2rem;
}

.font-color-lavender{
   color: #9792E4;
}

/*--------------------------------THIRD SECTION (CARDS)--------------------------------*/

.three-cards{
    width: 100%;
    background-color: #9792E4;
}

.three-cards-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.wrap-card{
    padding-bottom: 2.5rem;
}

.border-radius-lavender-card{
    border-radius: 3.5rem;
}

.card-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-padding-top{
    padding-top: 3.5rem;
}

.elements-card-padding{
    padding:3rem 2rem ;
}

.circle{
    height:15rem;
    width:15rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-testimonial1{
    background-image:url(../img/testimonial1.jpg) ;
}

.bg-testimonial2{
    background-image:url(../img/testimonial2.jpg) ;
}

.bg-testimonial3{
    background-image:url(../img/testimonial3.jpg) ;
}

.font-color-white{
    color: white;
}

.wrap-quotation-marks{
    display: inline-block;
}

.quotation-marks-font{
    font-size: 2.5rem;
    vertical-align: bottom;
}

.font-names-card{
    font-family: sans-serif;
}

/*--------------------------------FOURTH SECTION (BENEFITS)--------------------------------*/

.benefits{
    background-color: #9792E4;
    display: flex;
    justify-content: center;
}

.container-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 3rem 0;
}

.wrap-title-benefits{
    padding-bottom: 5rem;
}

.six-card-section{
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    
}

.six-card-flex-column{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: flex-start;
}


.font-color-gray{
    color: gray;
}

.button{
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: none;
}

.button-letter-spacing{
    letter-spacing: 0.3rem;
}

.background-lavander{
    background-color: #9792E4 ;
}

/*--------------------------------FIFTH SECTION (ABOUT US)--------------------------------*/

.about-us{
    display: flex;
    justify-content: center;   
}

.container-about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0 3rem 0;
    height: 5000px;
}

.font-title-fifth-section{
    font-size: 3rem;
}

.wrap-elements{
    padding-bottom: 2.5rem;
}

.bg-about{
    background-image: url(../img/about.jpg);
    position: relative;
}

.font-quotation-marks{
    font-size: 8rem;
    color: #9792E4;
    position: absolute;
    right: 0;
    bottom: 6rem;
    
}

.image-padding-top{
    padding-top:2rem
}

.button-linkedin{
    color: white;
    background-color: #9792E4;
}